__pycache__/
.ipynb_checkpoints/
storage/
wandb/
temp/
.DS_Store
test/
real_synthetic/
synthetic_call_zf/
*.csv
*.afdesign
/modules/callmark_backend/.venv
/plots
*.py
/modules/callmark_backend/node_modules
/animations
/paper
/docs
/media
