## This environments are ONLY used for debugging and temporary development, not for production!
COMPOSE_PROJECT_NAME=callmark-app-dev
NETWORK_NAME=callmark-app-network-dev
DATA_FOLDER=storage/whisperseg/data
MODEL_FOLDER=storage/whisperseg/model
WHISPERSEG_USER_CONFIG_FILE=callmark_whisperseg_users.yaml
CALLMARK_BACKEND_DATA_FOLDER=storage/callmark_backend/data
NODE_ENV=development 
WHISPERSEG_PORT=8600
WHISPERSEG_STREAMLIT_PORT=8606
CALLMARK_BACKEND_PORT=8602
CALLMARK_FRONTEND_PORT=8603
FREQUENCY_ANNOTATION_PORT=8604
EXAMPLE_FIGURE_PLOT_PORT=8605
CALLMARK_BACKEND_SERVICE=http://localhost:8602 # https://anno-backend.evolvinglanguage.ch/ # 
CALLMARK_FRONTEND_SERVICE=http://localhost:8603 # https://annotation.evolvinglanguage.ch/ # 
VOCALLBASE_SERVICE=https://vocallbase.evolvinglanguage.ch/  #None



